
<div id="fundo-externo">
    <div id="fundo">
        <img src="https://static.pexels.com/photos/28221/pexels-photo-28221.jpg" alt="" />
    </div>
</div>
<div id="site">
<div id="formulario-formatacao">
 <div id="form">
   <h1>Informações</h1><br>

<%= render 'form', product: @product %>

<%= link_to 'Voltar', products_path %>
 </div>
 </div>  
</div>