

<div id="fundo-externo">
    <div id="fundo">
    <center><nav id="menu" >
    <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Missão</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
</nav></center>
        <img src="http://www.fixabay.com/reimg/resize-img.php?src=http://www.fixabay.com/images/Abstract/zlysuntlwa3.jpg&h=768&w=1024" alt="" />
    </div>
</div>

<div id="site1">
  <div id="formulario-formatacao">
    <div id="form">
    <div id="cad-product">
      <center><h1>Editor</h1><br></center>

      <%= render 'form', client: @client %>
      <%= link_to 'Visualizar', @client %> |
      <%= link_to 'Voltar', clients_path %>

      </div>
    </div>
  </div>
</div>

