<div id="fundo-externo">
  <head>

    <nav id="menu" >
        <ul>
            <li><a href="http://localhost:3000">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Missão</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
  </head>
    <div id="fundo">
      <!--   <img src="http://2.bp.blogspot.com/-FAERiA-TNx0/TlGzYIOcYSI/AAAAAAAAA-s/cMlO0cqW3SA/s1600/smile_wallpaper.png" alt="" /> -->
    </div>
  </div>
</div>
<div id="site">
  <div id="formulario-formatacao">
    <div id="form">
    <h1>Novo Cliente</h1>

    <%= render 'form', client: @client %>

    <%= link_to 'Voltar', clients_path %>

    </div>
  </div>
</div>
