<!DOCTYPE html>
<html>
<head>
	<title>Gerenciador</title>
	<link rel="stylesheet" type="text/css" href="gerencia.css">
</head>
<body>
<nav id="menu" >
    <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Missão</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
</nav>
<h1 id="titulo">Gerenciador</h1>
	<lu>
		<p id="cad"><%= link_to "Produtos", "http://localhost:3000/products"%></p>
		<p id="list"><%= link_to "Locações", "http://localhost:3000"%></p
	</lu>
</body>
</html>

