#titulo{
	font-size: 60px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 5%;


}


#client,#cad,#list{
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 100px;
	/*border-style: double;*/
	padding: 20px 20px 20px 20px;
	/*border-bottom:3px solid #EA0000;*/
}

#cad:hover{
	 background: rgba(255,255,255,0.5);
}
#list:hover{
	background: rgba(255,255,255,0.5);
}

#forma-gerencia{
	vertical-align: -60%;
	margin-left: 35%;
}