#inicio{
	  background-image: linear-gradient(rgb( 105,105,105), rgb(0,0,0));

}
#bt1{
	vertical-align: -80%;
	margin-left: -50%;

}
#bt2{
	vertical-align: -80%;
	margin-left: 8%;


}
#bt3{

	vertical-align: -198%;
	margin-left:8%;
}
#bt4{
	vertical-align: -30%;
	margin-left: -60%;
}
#bt5{

	vertical-align: -30%;
	margin-left: 0%;

}
