<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro</title>
</head>
<body>
 
<div id="fundo-externo">
    <div id="fundo">
        <img src="https://static.pexels.com/photos/28221/pexels-photo-28221.jpg" alt="" />
    </div>
</div>
<div id="site">
<div id="formulario-formatacao">
 <div id="form">
   <center><h1>Cadastro<br></h1></center>
   <%= render 'form' %>
 </div>
 </div>  
</div>
 
</body>
</html>