<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro</title>
</head>
<body>
 
<div id="fundo-externo">
    <div id="fundo">
    <center><nav id="menu" >
    <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Missão</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
</nav></center>
        <img src="http://fondopantalla.com.es/download/492/2560x1600/crop/fondo-abstracto-degradado.jpg" alt="" />
    </div>
</div>
<div id="site1">
<div id="formulario-formatacao">
 <div id="form">
 <div id="form-cad">
   <center><h1>Cadastro<br><br></h1></center>
   <%= render 'form' %>
       </div>
 </div>
 </div>  
</div>
 
</body>
</html>