
<div id="fundo-externo">
  <head>
   <center> <nav id="menu" >
        <ul>
            <li><a href="http://localhost:3000">Home</a></li>
            <li><a href="http://localhost:3000/gerenciador/index">Gerenciador</a></li>
            <li><a href="#">Missão</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav></center>
  </head>
    <div id="fundo">
        <img src="http://fondopantalla.com.es/download/492/2560x1600/crop/fondo-abstracto-degradado.jpg" alt="" />
    </div>
</div>
<div id="site3">
<div id="formulario">
 <div id="form">
 <!-- <p id="notice"><%= notice %></p> -->

  <center><h1>Nova locação</h1></center><br>

<%= render 'form', location: @location %>

<%= link_to 'Voltar', locations_path %>


 </div>
 </div>
</div>



