




<div id="fundo-externo">
  <head>
   <center> <nav id="menu" >
        <ul>
            <li><a href="http://localhost:3000">Home</a></li>
            <li><a href="http://localhost:3000/gerenciador/index">Gerenciador</a></li>
            <li><a href="#">Missão</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav></center>
  </head>
    <div id="fundo">
        <img src="http://fondopantalla.com.es/download/492/2560x1600/crop/fondo-abstracto-degradado.jpg" alt="" />
    </div>
</div>
<div id="site3">
<div id="formulario">
 <div id="form">



<center><h1>Locação</h1></center><br>

<p>
  <strong>Nome:</strong>
  <%= @location.nome %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @location.produto %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @location.quantidade %>
</p>


<br>
   <center><a id="bt5" href="http://localhost:3000/locations"><button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" style="width: 250px; height: 45px">Voltar</button></a></center>





 </div>
 </div>
</div>
